{% load i18n %}

{% if statistics.visible %}
    {% include "partials/statistics/sub-list.html" with key=key displayed_statistics=statistics.visible only %}
{% endif %}

{% if statistics.visible and statistics.hidden %}
    <details>
        <summary>{% trans "Show all" %}</summary>
{% endif %}

{% if statistics.hidden %}
    {% if statistics.visible %}
        {% include "partials/statistics/sub-list.html" with key=key displayed_statistics=statistics.hidden only %}
    {% else %}
        {% include "partials/statistics/sub-list.html" with key=keyuuid displayed_statistics=statistics.hidden only %}
    {% endif %}
{% endif %}

{% if statistics.visible and statistics.hidden %}
    </details>
{% endif %}
