{% load i18n minecraft hawk_ui %}

<time class="has-minecraft-dark-gray-color" datetime="{{ damage.date }}"> {{ damage.since_beginning | duration }}</time>

{% if damage.cause.type == 'player' and damage.cause.player %}
    {% player_tooltip_title damage.cause.player %}
{% elif damage.cause.type == 'entity' %}
    <span class="has-minecraft-white-color">{{ damage.cause.entity | name }}</span>
{% else %}
    <span class="has-minecraft-white-color">{{ damage.cause.type | name }}</span>
{% endif %}

<br />
<span class="has-minecraft-gray-color">{{ hearts_count_for_display }}</span>

{% if damage.cause.type == 'entity' and damage.cause.weapon %}
    <br />
    <span class="has-minecraft-gray-color">
        {% if damage.cause.weapon.tag.Enchantments %}
            {% blocktrans with weapon=damage.cause.weapon.id|name %}
                {{ weapon }} with enchants
            {% endblocktrans %}
        {% else %}
            {{ damage.cause.weapon.id | name }}
        {% endif %}
    </span>
{% endif %}

{% if damage.lethal %}<br /><br /><span class="has-minecraft-red-color">{% trans "Lethal attack" %}</span>{% endif %}
