{% load minecraft %}

<span class="has-minecraft-{% if item_enchantments %}aqua{% else %}white{% endif %}-color">
    {% if item_name %}
        {{ item_name }}
        {% if not item_enchantments %}<br /><span class="has-minecraft-gray-color">{{ item.id | name }}</span><br />{% endif %}
    {% else %}
        {{ item.id | name }}
    {% endif %}
</span>
{% for enchantment in item_enchantments %}
    <br /><span class="has-minecraft-gray-color">{{ enchantment.id | enchantment:enchantment.lvl }}</span>
{% endfor %}
