{% load minecraft %}

<span class="has-minecraft-{% if weapon_enchantments %}aqua{% else %}white{% endif %}-color">
    {% if weapon_name %}
        {{ weapon_name }}
        {% if not weapon_enchantments %}<br /><span class="has-minecraft-gray-color">{{ weapon | name }}</span><br />{% endif %}
    {% else %}
        {{ weapon | name }}
    {% endif %}
</span>
{% for enchantment, level in weapon_enchantments.items %}
    <br /><span class="has-minecraft-gray-color">{{ enchantment | enchantment:level }}</span>
{% endfor %}
