[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
glue = "*"
maturin = "*"
pillow = "*"

[packages]
django = "*"
django-ipware = "*"
python-levenshtein = "*"
requests = "*"

