[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
glue = "*"
pillow = "*"

[packages]
django = "*"
pyo3-pack = "*"
requests = "*"
django-ipware = "*"

[requires]
python_version = "3.7"
