{% load i18n %}
{% load minecraft hawk_ui %}

<article class="chest">
    <h3 class="chest-title">{% trans "Game timeline" %}</h3>

    <div class="chest-inner is-sandstone">
        {% if report.events %}
            <ul class="minecraft-timeline">
                {% for event in report.events %}
                <li class="timeline-item is-{{ event.type | slugify }}-event">
                    <figure aria-hidden="true">
                        {% if event.icon.uuid %}
                            <img src="{{ event.icon.uuid | head:32 }}" alt="" class="is-head" />
                        {% elif event.icon.icon_id %}
                            <span class="i-{{ event.icon.icon_id }}"></span>
                        {% elif event.icon.url %}
                            {# TODO proxy external resources #}
                            <img src="{{ event.icon.url }}" alt="" />
                        {% endif %}
                    </figure>
                    <h4>
                        {{ event.title }}
                        <time datetime="{{ event.date }}" title="{{ event.date | iso_to_datetime | date:"H:i" }}">{{ event.since_beginning | duration }}</time>
                    </h4>
                    {% if event.description %}
                        <div class="timeline-item-details">
                            {{ event.description | strip_minecraft }}
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</article>
