@import "variables";

.damages-report {
  display: flex;
  flex-direction: column;

  border-radius: 4px;

  &:not(:first-of-type) {
    margin-top: 2rem;
  }

  .columns {
    display: flex;
    flex: 1;

    .column {
      flex: none;

      &.damages-report-player-parent {
        display: flex;
        align-items: center;

        width: 16%;
      }

      &.damages-report-alterations-parent {
        width: 22%;

        &.is-health {
          width: 19%;
        }
      }

      &.damages-report-kills-parent {
        width: 21%;
      }
    }
  }

  .damages-report-player {
    padding: 0 1rem;
    width: 100%;

    text-align: center;

    figure {
      img {
        border-radius: 4px;
      }

      figcaption {
        padding-top: .4rem;

        .name {
          display: block;
          font-size: $size-medium;
        }

        .tag-line {
          display: block;

          margin-top: -.4rem;

          font-size: $size-medium;
          font-variant: all-small-caps;

          color: lighten($minecraft-text, 20%);
          letter-spacing: .05em;
        }

        .tag-line-secondary {
          @extend .tag-line;
          font-size: $size-normal;
        }
      }
    }
  }

  .damages-report-alterations {
    padding: .6rem 1rem 1.5rem;

    height: 100%;

    overflow-x: hidden;

    text-overflow: "";

    border-left: solid 1px $minecraft-gray-inactive;

    h4 {
      padding-bottom: 0;
    }

    > ul {
      padding: .4rem 0;
      display: flex;
      flex-direction: column;
      align-content: space-around;

      > li {
        margin: 0;

        .weapon, .source {
          display: inline-block;
          width: 20px;
        }

        .weapon {
          position: relative;
          top: 1px;
        }

        .hearts {
          display: inline-block;
          margin-left: 2px;
          &.is-multi-line-continuation {
            display: block;
            margin-left: 50px;
            margin-top: .4rem;
          }
        }
      }
    }
  }

  .damages-report-kills {
    padding: .6rem 0 .6rem 1rem;

    height: 100%;

    border-left: solid 1px $minecraft-gray-inactive;

    h4 {
      margin-bottom: .8rem;

      &:not(:first-of-type) {
        margin-top: 2.1rem;
      }

      &.is-bold {
        font-weight: bold;
      }
    }

    .player-rank {
      padding-left: .8rem;
      font-size: $size-3;

      &.is-winner {
        font-size: $size-2;
      }
    }
  }
}

.natural-damages-report {
  border-radius: 4px;

  .natural-damages-report-line {
    margin: 1rem 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .natural-damages-report-source {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 1.5rem 1rem;

      text-align: center;

      figure {
        width: 100%;

        figcaption {
          display: block;
          padding-top: .4rem;
          font-size: $size-medium;
        }
      }
    }

    .natural-damages-report-damages {
      padding-left: 1.5rem;
      border-left: solid 1px $minecraft-gray-inactive;
    }
  }
}
