@import "icons_map";

%sprite-base {
  display: inline-block;
  background: url('../sprite/hawk-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

@each $sprite-name, $sprite-properties in zip(map_keys($hawk_sprite), map_values($hawk_sprite)) {
  .i-#{$sprite-name} {
    @extend %sprite-base;

    background-position: map_get($sprite-properties, "position");
    width: map_get($sprite-properties, "width");
    height: map_get($sprite-properties, "width");
  }
}

.is-rounded {
  border-radius: 4px;
}
