@import "variables";

.player {
  display: flex;
  align-items: center;

  padding: .4rem;
  margin: .2rem;

  border-radius: 4px;

  font-family: $family-minecraft;
  font-size: $size-normal;

  color: $minecraft-text;

  &.is-fake-player {
    cursor: default;
  }

  figure {
    display: block;

    min-width: 32px;

    img {
      width: 32px;
      height: 32px;

      border-radius: 4px;
    }
  }

  span {
    display: block;
    padding-left: .6rem;

    flex-grow: 2;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.is-large {
    figure {
      min-width: 48px;
      img {
        width: 48px;
        height: 48px;
      }
    }
    span {
      padding-left: .8rem;
    }
  }

  &.is-centered {
    span {
      text-align: center;
      padding: 0;
    }
  }

  @each $color-name, $color-hex in zip(map_keys($minecraft-colors-foreground), map_values($minecraft-colors-foreground)) {
    &.is-#{$color-name} {
      color: $color-hex;

      &.has-background {
        background-color: rgba(map_get($minecraft-colors-background, $color-name), .8);
      }

      &.has-hover:hover {
        background-color: rgba(map_get($minecraft-colors-background, $color-name), .7);
      }
    }

    &.is-#{$color-name}-hover:hover {
      color: $color-hex;
      background-color: rgba(map_get($minecraft-colors-background, $color-name), .7);
    }
  }
}

ul.players-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;

  li {
    width: 50%;
  }
}

.player-head {
  @each $color-name, $color-hex in zip(map_keys($minecraft-colors-foreground), map_values($minecraft-colors-foreground)) {
    &.is-#{$color-name} img {
      border: solid 6px $color-hex;
    }
  }
}
