@import "variables";

$minecraft-timeline-colors: (
        "blue": (
                icon-background:            hsl(210,  2%,  77%),
                icon-border-top-left:       $minecraft-border-top-left,
                icon-border-bottom-right:   $minecraft-border-bottom-right,
                title-background:           hsl(198, 96%,  30%),
                title-border-top-left:      hsl(198, 96%,  39%),
                title-border-bottom-right:  hsl(198, 97%,  13%),
                title-text:                 hsl(198,  0%, 100%),
                title-shadow:               hsl(210,  2%,  25%),
        ),
        "gold": (
                icon-background:           hsl(43, 84%,  36%),
                icon-border-top-left:      hsl(43, 84%,  46%),
                icon-border-bottom-right:  hsl(43, 84%,  15%),
                title-background:          hsl(43, 62%,  46%),
                title-border-top-left:     hsl(43, 84%,  46%),
                title-border-bottom-right: hsl(43, 84%,  15%),
                title-text:                hsl(43,  0%, 100%),
                title-shadow:              hsl(43,  2%,  25%),
        ),
        "red": (
                icon-background:           hsl(12, 84%,  35%),
                icon-border-top-left:      hsl(12, 84%,  46%),
                icon-border-bottom-right:  hsl(12, 84%,  15%),
                title-background:          hsl(12, 62%,  46%),
                title-border-top-left:     hsl(12, 84%,  46%),
                title-border-bottom-right: hsl(12, 84%,  15%),
                title-text:                hsl(12,  0%, 100%),
                title-shadow:              hsl(12,  2%,  25%),
        ),
        "green": (
                icon-background:           hsl(120, 84%,  28%),
                icon-border-top-left:      hsl(120, 84%,  42%),
                icon-border-bottom-right:  hsl(120, 84%,  15%),
                title-background:          hsl(120, 62%,  38%),
                title-border-top-left:     hsl(120, 84%,  46%),
                title-border-bottom-right: hsl(120, 84%,  15%),
                title-text:                hsl(120,  0%, 100%),
                title-shadow:              hsl(120,  2%,  25%),
        )
);

$minecraft-timeline-details-background: #212223;
$minecraft-timeline-details-border: #545556;
$minecraft-timeline-details-text: #a9aaab;

$minecraft-timeline-line-outer: #2A2A2A;
$minecraft-timeline-line-inner: #FFFFFF;

$minecraft-timeline-width: 90%;


.minecraft-timeline {
  position: relative;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;

  font-family: $family-minecraft;
  font-size: $size-normal;

  &:before {
    content: '';

    display: block;
    position: absolute;

    left: calc(3rem + 30px);
    top: calc(2rem + 8px);

    width: 6px;
    height: calc(100% - 8.6rem);

    background: $minecraft-timeline-line-inner;
    border: solid 2px $minecraft-timeline-line-outer;
  }

  .timeline-item {
    display: block;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    figure {
      position: absolute; // Required, else the title is above the icon.

      width: 48px;
      height: 48px;

      padding-top: 4px;
      margin-top: -.35rem;
      margin-left: .6rem;

      border-width: 4px;
      border-style: solid;
      border-radius: 6px;

      text-align: center;

      z-index: 8;

      @include unselectable;

      img {
        width: 32px;
        height: 32px;

        // We want to keep the pixels. Else, the image is blurred (because of aliasing).
        image-rendering: crisp-edges;

        &.is-head {
          border-radius: 6px;
        }
      }
    }

    h4 {
      position: relative; // Required for z-index

      padding-top: 3px;
      padding-bottom: 4px;
      padding-left: 64px;

      width: $minecraft-timeline-width;

      border-width: 4px;
      border-style: solid;
      border-radius: 6px;

      cursor: default;

      // For the details pane not going above the title.
      z-index: 4;

      time {
        display: none;

        position: absolute;

        left: $minecraft-timeline-width - 11%;
        top: 1em;

        padding: .1em .5em;
        height: 2.1em;

        border: solid 3px #26035d;
        border-radius: 5px;

        background: rgba(0, 0, 20, .9);

        cursor: default;
      }

      &:hover time {
        display: block;
      }
    }

    &.has-details h4 {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    @each $key, $colors in zip(map_keys($minecraft-timeline-colors), map_values($minecraft-timeline-colors)) {
      &.is-#{$key}-event {
        figure {
          background-color: map_get($colors, icon-background);
          border-top-color: map_get($colors, icon-border-top-left);
          border-left-color: map_get($colors, icon-border-top-left);
          border-bottom-color: map_get($colors, icon-border-bottom-right);
          border-right-color: map_get($colors, icon-border-bottom-right);
        }

        h4 {
          background-color: map_get($colors, title-background);

          border-top-color: map_get($colors, title-border-top-left);
          border-left-color: map_get($colors, title-border-top-left);
          border-bottom-color: map_get($colors, title-border-bottom-right);
          border-right-color: map_get($colors, title-border-bottom-right);

          color: map_get($colors, title-text);
          text-shadow: 1px 1px 0 rgba(map_get($colors, title-shadow), .2);
        }
      }
    }

    .timeline-item-details {
      margin-top: -.8rem;

      width: $minecraft-timeline-width;

      padding: .8rem .5rem .4rem;

      border: solid 4px $minecraft-timeline-details-border;
      border-radius: 6px;

      background: $minecraft-timeline-details-background;
      color: $minecraft-timeline-details-text;

      font-size: .9rem;

      cursor: default;
    }
  }
}
