$family-minecraft: Minecraft, $family-sans-serif;

$minecraft-gray-inactive: hsl(0, 0%, 55%);
$minecraft-gray-active: hsl(0, 0%, 78%);
$minecraft-text: hsl(0, 0%, 25%);

$minecraft-border-top-left: hsl(0, 0%, 93%);
$minecraft-border-bottom-right: hsl(0, 0%, 33%);

$minecraft-colors-background: (
        "black":        hsl(  0,   0%,   0%),
        "dark-blue":    hsl(240, 100%,   8%),
        "dark-green":   hsl(120, 100%,   8%),
        "dark-aqua":    hsl(180, 100%,   8%),
        "dark-red":     hsl(  0, 100%,   8%),
        "dark-purple":  hsl(300, 100%,   8%),
        "gold":         hsl( 60, 100%,   8%),
        "gray":         hsl(  0,   0%,  16%),
        "dark-gray":    hsl(  0,   0%,   8%),
        "blue":         hsl(240,  50%,  16%),
        "green":        hsl(120,  50%,  16%),
        "aqua":         hsl(180,  50%,  16%),
        "red":          hsl(  0,  50%,  16%),
        "light-purple": hsl(300,  50%,  16%),
        "yellow":       hsl( 60,  50%,  16%),
        "white":        hsl(  0,   0%, 100%)
);

$minecraft-colors-foreground: (
        "black":        hsl(  0,   0%,   0%),
        "dark-blue":    hsl(240, 100%,  33%),
        "dark-green":   hsl(120, 100%,  33%),
        "dark-aqua":    hsl(180, 100%,  33%),
        "dark-red":     hsl(  0, 100%,  33%),
        "dark-purple":  hsl(300, 100%,  33%),
        "gold":         hsl( 60, 100%,  33%),
        "gray":         hsl(  0,   0%,  67%),
        "dark-gray":    hsl(  0,   0%,  33%),
        "blue":         hsl(240, 100%,  67%),
        "green":        hsl(120, 100%,  67%),
        "aqua":         hsl(180, 100%,  67%),
        "red":          hsl(  0, 100%,  67%),
        "light-purple": hsl(300, 100%,  67%),
        "yellow":       hsl( 60, 100%,  67%),
        "white":        hsl(  0,   0%, 100%)
);
