@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraftia-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Minecraftia-Regular.woff') format('woff'),
  url('../fonts/Minecraftia-Regular.ttf') format('truetype'),
  url('../fonts/Minecraftia-Regular.svg#Minecraftia-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
