<!DOCTYPE html>

{%- import "__macros__" as hawk -%}

{% if report.settings.summary.enabled %}
    {% set default_tab = 'summary' %}
{% elif report.settings.damages.enabled %}
    {% set default_tab = 'damages' %}
{% else %}
    {% set default_tab = 'players' %}
{% endif %}

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=yes" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>{{ report.title | minecraft | striptags }} – Récapitulatif de partie</title>

        <link rel="stylesheet" href="/static/css/hawk.min.css" />
        <link rel="icon" href="/static/images/apple-golden.png" />
    </head>

    <body>
        <header class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-7">
                            <h1 class="title">
                                {{ report.title | minecraft }}
                            </h1>
                            <h2 class="subtitle">
                                {% if report.settings.players_count %}
                                    {{ report.players | length }} joueurs
                                {% endif %}

                                {% if report.settings.players_count and report.settings.date %} - {% endif %}

                                {% if report.settings.date %}
                                    {{ report.date | date(format='%d %B %Y') }}
                                {% endif %}
                            </h2>
                        </div>
                        <div class="column is-5 has-text-right uhc-winners">
                            {% if report.settings.winners and report.winners %}
                                <aside class="chest">
                                    <h3 class="chest-title is-all-caps">Les gagnants</h3>
                                    <ul>
                                        {% for winner in report.winners | sort(attribute="name") %}
                                            <li>
                                                <figure class="image minecraft-tooltip" data-tooltip="{{ winner.name }}">
                                                    <img src="{{ head(uuid=winner.uuid, size=80) }}" alt="{{ winner.name }}" />
                                                </figure>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth">
                    <div class="container">
                        <ul>
                            {% if report.settings.summary.enabled %}
                                <li {% if default_tab == 'summary' %}class="is-active"{% endif %}>
                                    <a class="js-tab-link" href="#summary">Récapitulatif</a>
                                </li>
                            {% endif %}

                            {% if report.settings.damages.enabled %}
                                <li {% if default_tab == 'damages' %}class="is-active"{% endif %}>
                                    <a class="js-tab-link" href="#damages">Dégâts et régénérations</a>
                                </li>
                            {% endif %}

                            {% if report.settings.players.enabled %}
                                <li {% if default_tab == 'players' %}class="is-active"{% endif %}>
                                    <a class="js-tab-link" href="#players">Joueurs et statistiques</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        {% if report.settings.summary.enabled %}
        <section class="section js-tab-section {% if default_tab != 'summary' %}is-hidden{% endif %}" id="summary">
            <div class="container">
                <div class="columns">
                    {% if report.settings.summary.history %}
                        <div class="column">
                        <article class="chest">
                            <h3 class="chest-title">Déroulement de la partie</h3>

                            <div class="chest-inner is-sandstone">
                                {% if report.events %}
                                    <ul class="minecraft-timeline">
                                        {% for event in report.events %}
                                        <li class="timeline-item is-{{ event['type'] | slugify | replace(from='_', to='-') }}-event">
                                            <div class="timeline-item-header">
                                                <figure aria-hidden="true">
                                                    {% if event.icon.uuid is defined %}
                                                        <img src="{{ head(uuid=event.icon.uuid, size=32) }}" alt="" class="is-head" />
                                                    {% elif event.icon.icon_id is defined %}
                                                        <span class="i-{{ event.icon.icon_id }}"></span>
                                                    {% elif event.icon.url is defined %}
                                                        <img src="{{ event.icon.url }}" alt="" />
                                                    {% endif %}
                                                </figure>
                                                <h4>
                                                    {{ event.title }}
                                                    <time datetime="{{ event.date }}" title="{{ event.date | date(format='%Hh%M') }}">{{ event.since_beginning }}</time>
                                                </h4>
                                                <div class="is-clearfix"></div>
                                            </div>
                                            {% if event.description is defined %}
                                                <div class="timeline-item-details">
                                                    {{ event.description | minecraft | striptags }}
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                    {% endif %}

                    {% if report.settings.summary.players %}
                        <div class="column">
                            <article class="chest teams-list">
                                <h3 class="chest-title">
                                    {%- if not report.settings.summary.teams or not report.teams -%}
                                        Les joueurs
                                    {%- else -%}
                                        Les équipes
                                    {%- endif -%}
                                </h3>

                                {% if not report.settings.summary.teams or not report.teams %}
                                    <ul class="players-list">
                                        {% for player in report.players %}
                                            <li>
                                                {{ hawk::player(player=player, large=true) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% for team in report.teams %}
                                        <h4 class="team-{{ team.color | css_class }} has-text-colored has-outline">{{ team.name }}</h4>

                                        <ul class="players-list">
                                        {% for player in team.players %}
                                            <li>
                                                {{ hawk::player(player=player, large=true) }}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endfor %}

                                    {% if report.has_players_without_team %}
                                        <h4 class="team-dark-gray has-text-colored has-outline">Joueurs sans équipe</h4>

                                        <ul class="players-list">
                                            {% for player in report.players %}
                                                {% if not player.in_team %}
                                                    <li>
                                                        {{ hawk::player(player=player, large=true) }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </article>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}

        {% if report.settings.damages.enabled %}
        <section class="section js-tab-section {% if default_tab != 'damages' %}is-hidden{% endif %}" id="damages">
            <div class="container">

                {% if report.settings.damages.damages_per_players %}
                <article class="chest">
                    <h3 class="chest-title">Joueurs</h3>

                    {% for player in report.players | sort(attribute="name") %}
                        {% set aggreg = report.aggregates.players_damages[player.uuid] %}
                        <div class="chest-inner damages-report">
                            <div class="columns">
                                <div class="column damages-report-player-parent">
                                    <div class="damages-report-player">
                                        <figure class="player-head{% if player.in_team and report.settings.summary.teams %} is-{{ player.color | css_class }}{% endif %}">
                                            <img src="{{ head(uuid=player.uuid, size=90) }}" alt="{{ player.name }}" />
                                            <figcaption>
                                                <span class="name">{{ player.name }}</span>

                                                {% if player.tag_line %}
                                                    <span class="tag-line" title="{{ player.tag_line_details }}">{{ player.tag_line }}</span>
                                                {% endif %}

                                                {% if player.tag_line_secondary %}
                                                    <span class="tag-line-secondary" title="{{ player.tag_line_details }}">{{ player.tag_line_secondary }}</span>
                                                {% endif %}
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent">
                                    <div class="damages-report-alterations">
                                        <h4><strong>{{ aggreg.damages_taken_total }}</strong> dégâts reçus</h4>

                                        <ul>
                                            {% for damage in aggreg.damages_taken %}
                                                <li title="
                                                        {%- if damage.cause == 'PLAYER' %}{{ damage.damager.name }}{% else %}{{ damage.cause }} {% endif -%}
                                                        {%- if damage.weapon != 'FISTS' and damage.weapon != 'UNKNOWN' %} avec {{ damage.weapon }} {% endif -%}
                                                        : -{{ damage.damage }} point(s) de vie{% if damage.lethal %} (mortel){% endif %}">
                                                    <span class="weapon {% if damage.weapon != 'UNKNOWN' and damage.weapon != 'FISTS' %}i-{{ damage.weapon | icon }}{% endif %}"></span>
                                                    {% if damage.cause == 'PLAYER' and damage.damager %}
                                                        <span class="source">
                                                            <img src="{{ head(uuid=damage.damager.uuid, size=20) }}" alt="{{ damage.damager.name }}" />
                                                        </span>
                                                    {% else %}
                                                        <span class="source i-{{ damage.cause | icon }}"></span>
                                                    {% endif %}
                                                    {{ hawk::hearts(hearts=damage.damage, lethal=damage.lethal) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent">
                                    <div class="damages-report-alterations">
                                        <h4><strong>{{ aggreg.damages_caused_total }}</strong> dégâts engendrés</h4>

                                        <ul>
                                            {% for damage in aggreg.damages_caused %}
                                                <li title="
                                                        {%- if damage.cause == 'PLAYER' %}{{ damage.damager.name }}{% else %}{{ damage.cause }}{% endif -%}
                                                        {%- if damage.weapon != 'FISTS' and damage.weapon != 'UNKNOWN' %} avec {{ damage.weapon }} {% endif -%}
                                                        : -{{ damage.damage }} point(s) de vie{% if damage.lethal %} (mortel){% endif %}">
                                                    <span class="weapon {% if damage.weapon != 'UNKNOWN' and damage.weapon != 'FISTS' %}i-{{ damage.weapon | icon }}{% endif %}"></span>
                                                    <span class="source">
                                                        <img src="{{ head(uuid=damage.damagee.uuid, size=20) }}" alt="{{ damage.damagee.name }}" />
                                                    </span>
                                                    {{ hawk::hearts(hearts=damage.damage, lethal=damage.lethal) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent is-health">
                                    <div class="damages-report-alterations">
                                        <h4><strong>{{ aggreg.heals_total }}</strong> vie régénérée</h4>

                                        <ul>
                                            {% for heal in aggreg.heals %}
                                                <li title="{{ heal.cause }} : +{{ heal.heal }} point(s) de vie">
                                                    <span class="source i-{{ heal.cause | icon }}"></span>
                                                    {{ hawk::hearts(hearts=heal.heal) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-kills-parent">
                                    <div class="damages-report-kills">
                                        {% if aggreg.kills %}
                                            <h4><strong>{{ aggreg.kills | length }}</strong> joueur{{ aggreg.kills | length | pluralize }} tué{{ aggreg.kills | length | pluralize }}</h4>

                                            <ul>
                                                {% for kill in aggreg.kills %}
                                                    <li>
                                                        {{ hawk::player(player=kill) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if report.settings.damages.display_killer and aggreg.killed_by %}
                                            <h4 class="is-bold">Tué par</h4>

                                            <ul>
                                                <li>
                                                    {% if aggreg.killed_by.type == 'player' %}
                                                        {{ hawk::player(player=aggreg.killed_by.player) }}
                                                    {% else %}
                                                        <a href="" class="player is-fake-player">
                                                            <figure aria-hidden="true">
                                                                <span class="i-{{ aggreg.killed_by.cause | icon | replace(from='-small', to='') }}"></span>
                                                            </figure>
                                                            <span>{{ aggreg.killed_by.cause }}</span>
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endif %}

                                        <h4 class="is-bold">Classement</h4>

                                        <p class="player-rank{% if aggreg.rank == 1 %} is-winner{% endif %}">{{ aggreg.rank }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </article>
                {% endif %}

                {% if report.settings.damages.damages_per_team %}
                <!-- TODO
                <article class="chest">
                    <h3 class="chest-title">Équipes</h3>
                </article>
                -->
                {% endif %}

                {% if report.settings.damages.damages_from_environment %}
                <article class="chest">
                    <h3 class="chest-title">Dégâts engendrés par l'environnement</h3>

                    <div class="columns">
                        <div class="column">
                            <div class="chest-inner natural-damages-report">
                                {% for cause, damage in report.aggregates.environmental_damages %}
                                    {% if cause is creature %}
                                        {% set_global had_env_creatures = true %}
                                        <div class="natural-damages-report-line">
                                            <div class="columns">
                                                <div class="column is-4 natural-damages-report-source">
                                                    <figure>
                                                        <span class="i-{{ cause | icon | replace(from='-small', to='-large') }}"></span>
                                                        <figcaption>{{ cause }}</figcaption>
                                                    </figure>
                                                </div>
                                                <div class="column is-8 natural-damages-report-damages">
                                                    <h4><strong>{{ damage }}</strong> dégât{{ damage | pluralize }} engendré{{ damage| pluralize }}</h4>
                                                    {{ hawk::hearts(hearts=damage, list=true) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if not had_env_creatures is defined %}
                                    <p class="chest-inner-empty">
                                        Les créatures n'ont causé aucun dégât.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column">
                            <div class="chest-inner natural-damages-report">
                                {% for cause, damage in report.aggregates.environmental_damages %}
                                    {% if not cause is creature %}
                                        {% set_global had_env_env = true %}
                                        <div class="natural-damages-report-line">
                                            <div class="columns">
                                                <div class="column is-4 natural-damages-report-source">
                                                    <figure>
                                                        <span class="i-{{ cause | icon | replace(from='-small', to='-large') }}"></span>
                                                        <figcaption>{{ cause }}</figcaption>
                                                    </figure>
                                                </div>
                                                <div class="column is-8 natural-damages-report-damages">
                                                    <h4><strong>{{ damage }}</strong> dégât{{ damage | pluralize }} engendré{{ damage| pluralize }}</h4>
                                                    {{ hawk::hearts(hearts=damage, list=true) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if not had_env_env is defined %}
                                    <p class="chest-inner-empty">
                                        Aucun dégât n'a été causé par l'environnment inanimé.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}
            </div>
        </section>
        {% endif %}

        {% if report.settings.players.enabled %}
        <section class="section js-tab-section {% if default_tab != 'players' %}is-hidden{% endif %}" id="players">
        {% endif %}

        </section>

        <footer>
            <div class="content has-text-centered">
                <p>
                    Généré {% if report.settings.generator -%}
                        par <a href="{{ report.settings.generator.link }}">{{ report.settings.generator.name }}</a>
                    {%- endif %}
                    grâce à
                    <a href="/">Hawk</a>, un projet développé avec amour
                    <a href="https://github.com/zDevelopers/Hawk-GUI">en Rust</a> avec
                    <a href="https://rocket.rs">Rocket</a> par <a href="https://amaury.carrade.eu">Amaury Carrade</a>.<br />
                    Nous ne sommes pas responsables du contenu de ce site (en particulier, des pseudonymes et noms d'équipe).
                </p>
            </div>
        </footer>

        <script type="application/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                const tabs = document.querySelectorAll('.js-tab-section');
                const tabs_links = document.querySelectorAll('.js-tab-link');

                tabs_links.forEach(function(element) {
                    element.addEventListener("click", function(e) {
                        e.preventDefault();
                        tabs.forEach(function(tab) { tab.classList.add('is-hidden'); });

                        let target = e.target.attributes['href'].value;
                        let tab = document.querySelector(target);

                        if (tab) {
                            tab.classList.remove('is-hidden');

                            tabs_links.forEach(function(tab_link) {
                                tab_link.parentElement.classList.remove('is-active');
                                if (tab_link.attributes['href'].value === target) {
                                    tab_link.parentElement.classList.add('is-active');
                                }
                            })
                        }
                    });
                });

                const players_links = document.querySelectorAll('a.player');

                players_links.forEach(function(element) {
                    element.addEventListener('click', function(e) {
                        e.preventDefault();
                        element.blur();
                        // TODO link to player stats tab if it's a real link
                    })
                });
            });
        </script>
    </body>
</html>
