<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=yes" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>{{ match_title | minecraft | striptags }} – Récapitulatif de partie</title>

        <link rel="stylesheet" href="/static/css/hawk.min.css" />
        <link rel="icon" href="/static/images/apple-golden.png" />
    </head>

    <body>
        <header class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-7">
                            <h1 class="title">
                                {{ match_title | minecraft }}
                            </h1>
                            <h2 class="subtitle">
                                9 joueurs - 15 décembre 2018
                            </h2>
                        </div>
                        <div class="column is-5 has-text-right uhc-winners">
                            <aside class="chest">
                                <h3 class="chest-title is-all-caps">Les gagnants</h3>
                                <ul>
                                    <li>
                                        <figure class="image minecraft-tooltip" data-tooltip="Dada_exe">
                                            <img src="{{ head(uuid="55b89885-673c-4458-a8bd-33ad9c6190b4", size=80) }}" alt="Dada_exe" />
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="image minecraft-tooltip" data-tooltip="Jenjeur">
                                            <img src="{{ head(uuid="0dd34bda-c13b-473b-a887-368027ca05ca", size=80) }}" alt="Jenjeur" />
                                        </figure>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth">
                    <div class="container">
                        <ul>
                            <li>
                                <a class="js-tab-link" href="#summary">Récapitulatif</a>
                            </li>
                            <li class="is-active">
                                <a class="js-tab-link" href="#damages">Dégâts et régénérations</a>
                            </li>
                            <li>
                                <a class="js-tab-link" href="#players">Joueurs et statistiques</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <section class="section js-tab-section is-hidden" id="summary">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <article class="chest">
                            <h3 class="chest-title">Déroulement de la partie</h3>

                            <div class="chest-inner is-sandstone">
                                <ul class="minecraft-timeline">
                                    <li class="timeline-item is-blue-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-item-clock-midday"></span>
                                            </figure>
                                            <h4>
                                                Début de la partie
                                                <time datetime="2018-12-15T22:15:33" title="22h15">00h00</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="7caf2af6-b149-47eb-8b76-7f58c07d8f5a", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de Vayan91
                                                <time datetime="2018-12-15T22:39:58" title="22:39:58">00h24</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Vayan91 was slain by Cave Spider
                                        </div>
                                    </li>
                                    <li class="timeline-item is-blue-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-item-diamond"></span>
                                            </figure>
                                            <h4>
                                                Morgan_A trouve le premier diamant
                                                <time datetime="2018-12-15T22:56:00" title="22:56:34">00h41</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-red-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-block-portal"></span>
                                            </figure>
                                            <h4>
                                                Mexknak entre premier dans le Nether
                                                <time datetime="2018-12-15T23:14:00" title="23:14:08">00h59</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-blue-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-item-book-enchanted"></span>
                                            </figure>
                                            <h4>
                                                Jenjeur enchante le premier objet
                                                <time datetime="2018-12-15T23:14:00" title="23:27:12">01h12</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="da04cd54-c6c7-4672-97c5-85663f5bccf6", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de AmauryPi
                                                <time datetime="2018-12-15T00:07:19" title="00:07:19">01h53</time>
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            AmauryPi tried to swim into lava
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de Singer49
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Singer49 was shot by Skeleton
                                        </div>
                                    </li>
                                    <li class="timeline-item is-green-event has-details">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-gui-forcefield-red"></span>
                                            </figure>
                                            <h4>
                                                Réduction de la bordure
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Jusqu'à 400×400 en 40 minutes
                                        </div>
                                    </li>
                                    <li class="timeline-item is-blue-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-item-brewing-stand"></span>
                                            </figure>
                                            <h4>
                                                Dada_exe brasse la première potion
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="445718ae-ee31-4e66-8d57-5a10457ab93b", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de MrLefra99
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            MrLefra99 was slain by Dada_exe
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="cdda3f1f-19ed-4f92-9cad-bf4ab1f98bc2", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de Mexknak
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Mexknak was shot by Jenjeur
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true">
                                                <img src="{{ head(uuid="6e84adc0-b6e6-406c-b3da-772a7459ce15", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de Morgan_A
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Morgan_A was slain by Dada_exe
                                        </div>
                                    </li>
                                    <li class="timeline-item is-green-event">
                                        <div class="timeline-item-header">
                                            <figure aria-hidden="true">
                                                <span class="i-gui-forcefield-green"></span>
                                            </figure>
                                            <h4>
                                                Fin de réduction de la bordure
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                    </li>
                                    <li class="timeline-item is-gold-event has-details">
                                        <div class="timeline-item-header">
                                            <figure class="is-head" aria-hidden="true" >
                                                <img src="{{ head(uuid="f79c6c7f-fe45-4502-8f2a-de9f92dcaade", size=32) }}" alt="" />
                                            </figure>
                                            <h4>
                                                Mort de Sashastan
                                            </h4>
                                            <div class="is-clearfix"></div>
                                        </div>
                                        <div class="timeline-item-details">
                                            Sashastan was slain by Jenjeur
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>

                    <div class="column">
                        <article class="chest teams-list">
                            <h3 class="chest-title">Les équipes</h3>

                            <h4 class="team-red has-text-colored has-outline">La vigne & le vin</h4>

                            <ul class="players-list">
                                <li>
                                    <a href="" class="player is-large is-red-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="0dd34bda-c13b-473b-a887-368027ca05ca", size=48) }}" alt="" />
                                        </figure>
                                        <span>Jenjeur</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-red-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="55b89885-673c-4458-a8bd-33ad9c6190b4", size=48) }}" alt="" />
                                        </figure>
                                        <span>Dada_exe</span>
                                    </a>
                                </li>
                            </ul>

                            <h4 class="team-dark-green has-text-colored has-outline">Menthe à l'eau</h4>

                            <ul class="players-list">
                                <li>
                                    <a href="" class="player is-large is-dark-green-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="da04cd54-c6c7-4672-97c5-85663f5bccf6", size=48) }}" alt="" />
                                        </figure>
                                        <span>AmauryPi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-dark-green-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="6e84adc0-b6e6-406c-b3da-772a7459ce15", size=48) }}" alt="" />
                                        </figure>
                                        <span>Morgan_A</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-dark-green-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="cdda3f1f-19ed-4f92-9cad-bf4ab1f98bc2", size=48) }}" alt="" />
                                        </figure>
                                        <span>Mexknak</span>
                                    </a>
                                </li>
                            </ul>

                            <h4 class="team-yellow has-text-colored has-outline">#BananaForScale</h4>

                            <ul class="players-list">
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="7caf2af6-b149-47eb-8b76-7f58c07d8f5a", size=48) }}" alt="" />
                                        </figure>
                                        <span>Vayan91</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=48) }}" alt="" />
                                        </figure>
                                        <span>Singer49</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="445718ae-ee31-4e66-8d57-5a10457ab93b", size=48) }}" alt="" />
                                        </figure>
                                        <span>MrLefra99</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="f79c6c7f-fe45-4502-8f2a-de9f92dcaade", size=48) }}" alt="" />
                                        </figure>
                                        <span>Sashastan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="de79b165-a66c-4faf-bdcf-c120487efe78", size=48) }}" alt="" />
                                        </figure>
                                        <span>Tyranouille</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="5e9298d9-5a53-4744-88f2-70f221ff8e66", size=48) }}" alt="" />
                                        </figure>
                                        <span>Black_Lizard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="player is-large is-yellow-hover">
                                        <figure aria-hidden="true">
                                            <img src="{{ head(uuid="454abcd4-4bc3-465e-acef-1687b247cc89", size=48) }}" alt="" />
                                        </figure>
                                        <span>Brutal_Berserker</span>
                                    </a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section js-tab-section" id="damages">
            <div class="container">
                <article class="chest">
                    <h3 class="chest-title">Joueurs</h3>

                    <div class="chest-inner damages-report">
                        <div class="columns">
                            <div class="column damages-report-player-parent">
                                <div class="damages-report-player">
                                    <figure class="player-head is-red">
                                        <img src="{{ head(uuid="55b89885-673c-4458-a8bd-33ad9c6190b4", size=90) }}" alt="Dada_exe" />
                                        <figcaption>
                                            <span class="name">Dada_exe</span>
                                            <span class="tag-line">Allié</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent">
                                <div class="damages-report-alterations">
                                    <h4><strong>24</strong> dégâts reçus</h4>

                                    <ul>
                                        <li title="Dégâts de chute : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-block-stone-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li title="Araignée : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-entity-spider-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li title="Squelette : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-creeper-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-3"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-gold-sword-small"></span>
                                            <span class="source i-entity-zombie-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-3"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-block-sand-small"></span>
                                            <span class="hearts is-6"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source i-entity-blaze-small"></span>
                                            <span class="hearts is-20 is-lethal"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=20) }}" alt="Singer47" /></span>
                                            <span class="hearts is-3 is-lethal"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent">
                                <div class="damages-report-alterations">
                                    <h4><strong>4</strong> dégâts engendrés</h4>

                                    <ul>
                                        <li title="Épée en fer sur Singer47 : -3 points de vie ; coup létal.">
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=20) }}" alt="Singer47" /></span>
                                            <span class="hearts is-3 is-lethal"></span>
                                        </li>
                                        <li title="Épée en fer sur MrLefra99 : -1 points de vie.">
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="445718ae-ee31-4e66-8d57-5a10457ab93b", size=20) }}" alt="MrLefra99" /></span>
                                            <span class="hearts is-1"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent is-health">
                                <div class="damages-report-alterations">
                                    <h4><strong>8</strong> vie régénérée</h4>

                                    <ul>
                                        <li title="Une pomme d'or : +4 points de vie">
                                            <span class="source i-item-apple-golden-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                        <li title="Une potion de regénération : +6 points de vie">
                                            <span class="source i-item-potion-bottle-splash-small"></span>
                                            <span class="hearts is-6"></span>
                                        </li>
                                        <li title="Une pomme d'or : +4 points de vie">
                                            <span class="source i-item-apple-golden-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-kills-parent">
                                <div class="damages-report-kills">
                                    <h4><strong>2</strong> joueurs tués</h4>

                                    <ul>
                                        <li>
                                            <a href="" class="player is-dark-green-hover">
                                                <figure aria-hidden="true">
                                                    <img src="{{ head(uuid="da04cd54-c6c7-4672-97c5-85663f5bccf6", size=32) }}" alt="" />
                                                </figure>
                                                <span>AmauryPi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="player is-yellow-hover">
                                                <figure aria-hidden="true">
                                                    <img src="{{ head(uuid="de79b165-a66c-4faf-bdcf-c120487efe78", size=32) }}" alt="" />
                                                </figure>
                                                <span>Tyranouille</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <h4>Tué par</h4>

                                    <ul>
                                        <li>
                                            <a href="" class="player is-yellow-hover">
                                                <figure aria-hidden="true">
                                                    <img src="{{ head(uuid="454abcd4-4bc3-465e-acef-1687b247cc89", size=32) }}" alt="" />
                                                </figure>
                                                <span>Brutal_Berserker</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <h4>Classement</h4>

                                    <p class="player-rank">2</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chest-inner damages-report">
                        <div class="columns">
                            <div class="column damages-report-player-parent">
                                <div class="damages-report-player">
                                    <figure class="player-head is-dark-green">
                                        <img src="{{ head(uuid="f79c6c7f-fe45-4502-8f2a-de9f92dcaade", size=90) }}" alt="Sashastan" />
                                        <figcaption>
                                            <span class="name">Sashastan</span>
                                            <span class="tag-line">Allié</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent">
                                <div class="damages-report-alterations">
                                    <h4><strong>24</strong> dégâts reçus</h4>

                                    <ul>
                                        <li title="Dégâts de chute : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-block-stone-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li title="Araignée : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-entity-spider-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li title="Squelette : -2 points de vie">
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-2"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-creeper-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-3"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-gold-sword-small"></span>
                                            <span class="source i-entity-zombie-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-3"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-entity-skeleton-small"></span>
                                            <span class="hearts is-0"></span>
                                        </li>
                                        <li>
                                            <span class="weapon"></span>
                                            <span class="source i-block-sand-small"></span>
                                            <span class="hearts is-6"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source i-entity-blaze-small"></span>
                                            <span class="hearts is-20 is-lethal"></span>
                                        </li>
                                        <li>
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=20) }}" alt="Singer47" /></span>
                                            <span class="hearts is-3 is-lethal"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent">
                                <div class="damages-report-alterations">
                                    <h4><strong>4</strong> dégâts engendrés</h4>

                                    <ul>
                                        <li title="Épée en fer sur Singer47 : -3 points de vie ; coup létal.">
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="fc0d7b71-34de-460c-a10a-92cf2d202fa9", size=20) }}" alt="Singer47" /></span>
                                            <span class="hearts is-3 is-lethal"></span>
                                        </li>
                                        <li title="Épée en fer sur MrLefra99 : -1 points de vie.">
                                            <span class="weapon i-item-iron-sword-small"></span>
                                            <span class="source"><img src="{{ head(uuid="445718ae-ee31-4e66-8d57-5a10457ab93b", size=20) }}" alt="MrLefra99" /></span>
                                            <span class="hearts is-1"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-alterations-parent is-health">
                                <div class="damages-report-alterations">
                                    <h4><strong>8</strong> vie régénérée</h4>

                                    <ul>
                                        <li title="Une pomme d'or : +4 points de vie">
                                            <span class="source i-item-apple-golden-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                        <li title="Une potion de regénération : +6 points de vie">
                                            <span class="source i-item-potion-bottle-splash-small"></span>
                                            <span class="hearts is-6"></span>
                                        </li>
                                        <li title="Une pomme d'or : +4 points de vie">
                                            <span class="source i-item-apple-golden-small"></span>
                                            <span class="hearts is-4"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column damages-report-kills-parent">
                                <div class="damages-report-kills">
                                    <h4><strong>2</strong> joueurs tués</h4>

                                    <ul>
                                        <li>
                                            <a href="" class="player is-dark-green-hover">
                                                <figure aria-hidden="true">
                                                    <img src="{{ head(uuid="cdda3f1f-19ed-4f92-9cad-bf4ab1f98bc2", size=32) }}" alt="" />
                                                </figure>
                                                <span>Mexknak</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="player is-yellow-hover">
                                                <figure aria-hidden="true">
                                                    <img src="{{ head(uuid="6e84adc0-b6e6-406c-b3da-772a7459ce15", size=32) }}" alt="" />
                                                </figure>
                                                <span>Morgan_A</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <h4>Tué par</h4>

                                    <ul>
                                        <li>
                                            <a href="" class="player is-fake-player">
                                                <figure aria-hidden="true">
                                                    <span class="i-item-flint-and-steel"></span>
                                                </figure>
                                                <span>Briquet</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <h4>Classement</h4>

                                    <p class="player-rank">3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- TODO
                <article class="chest">
                    <h3 class="chest-title">Équipes</h3>
                </article>
                -->

                <article class="chest">
                    <h3 class="chest-title">Dégâts engendrés par l'environnement</h3>
                    <div class="columns">
                        <div class="column">
                            <div class="chest-inner natural-damages-report">
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-entity-angry-wolf-large"></span>
                                                <figcaption>Loup énervé</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>5</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-5"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-entity-skeleton-large"></span>
                                                <figcaption>Squelette</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>49</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-9"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-entity-ender-dragon-large"></span>
                                                <figcaption>Dragon</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>128</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-8"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="chest-inner natural-damages-report">
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-block-stone-large"></span>
                                                <figcaption>Chutes</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>12</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-12"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-block-sand-large"></span>
                                                <figcaption>Suffocation</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>3</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-3"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-block-cactus-large"></span>
                                                <figcaption>Contact</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>1</strong> dégât engendré</h4>
                                            <ul>
                                                <li><span class="hearts is-1"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-block-tnt-large"></span>
                                                <figcaption>Trinitroluène</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>37</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-20"></span></li>
                                                <li><span class="hearts is-17"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-entity-lightning-large"></span>
                                                <figcaption>Éclair</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4><strong>4</strong> dégâts engendrés</h4>
                                            <ul>
                                                <li><span class="hearts is-4"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="section js-tab-section is-hidden" id="players">

        </section>

        <footer>
            <div class="content has-text-centered">
                <p>
                    Généré par <a href="https://github.com/zDevelopers/UHPlugin">UHCReloaded</a> grâce à
                    <a href="/">Hawk</a>, un projet développé avec amour
                    <a href="https://github.com/zDevelopers/Hawk-GUI">en Rust</a> avec
                    <a href="https://rocket.rs">Rocket</a> par <a href="https://amaury.carrade.eu">Amaury Carrade</a>.<br />
                    Nous ne sommes pas responsables du contenu de ce site (en particulier, des pseudonymes et noms d'équipe).
                </p>
            </div>
        </footer>

        <script type="application/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                const tabs = document.querySelectorAll('.js-tab-section');
                const tabs_links = document.querySelectorAll('.js-tab-link');

                tabs_links.forEach(function(element) {
                    element.addEventListener("click", function(e) {
                        e.preventDefault();
                        tabs.forEach(function(tab) { tab.classList.add('is-hidden'); });

                        let target = e.target.attributes['href'].value;
                        let tab = document.querySelector(target);

                        if (tab) {
                            tab.classList.remove('is-hidden');

                            tabs_links.forEach(function(tab_link) {
                                tab_link.parentElement.classList.remove('is-active');
                                if (tab_link.attributes['href'].value === target) {
                                    tab_link.parentElement.classList.add('is-active');
                                }
                            })
                        }
                    });
                });

                const players_links = document.querySelectorAll('a.player');

                players_links.forEach(function(element) {
                    element.addEventListener('click', function(e) {
                        e.preventDefault();
                        element.blur();
                        // TODO link to player stats tab if it's a real link
                    })
                });
            });
        </script>
    </body>
</html>
