{% extends "base.html" %}

{% load i18n static humanize %}
{% load minecraft hawk_ui hawk_utils captureas %}

{% block main_title %}
    {% blocktrans with title=report.title|strip_minecraft %}
        {{ title }} - Match Report - Hawk
    {% endblocktrans %}
{% endblock %}

{% block javascripts %}
    <script src="{% static "js/report-navigation.js" %}"></script>
    <script src="{% static "js/accessibility.js" %}"></script>
    <script src="{% static "js/tooltips.js" %}"></script>
{% endblock %}

{% block body %}
    <header class="hero">
        <div class="hero-body">
            <div class="container">
                {% include "layout/header.html" %}
            </div>
        </div>

        <div class="hero-foot">
            {% include "layout/tabs.html" %}
        </div>
    </header>

    {% if report.settings.summary.enabled %}
        <section class="section js-tab-section {% if default_tab != 'summary' %}is-hidden{% endif %}" id="summary">
            <div class="container">
                {% include "sections/summary.html" %}
            </div>
        </section>
    {% endif %}

    {% if report.settings.damages.enabled %}
        <section class="section js-tab-section {% if default_tab != 'damages' %}is-hidden{% endif %}" id="damages">
            <div class="container">
                {% include "sections/damages.html" %}
            </div>
        </section>
    {% endif %}

    {% if report.settings.players.enabled %}
        <section class="section js-tab-section {% if default_tab != 'players' %}is-hidden{% endif %}" id="players">
            <div class="container">
                {% include "sections/statistics.html" %}
            </div>
        </section>
    {% endif %}

    <footer>
        {% include "layout/footer.html" %}
    </footer>
{% endblock %}
