{% extends "base.html" %}

{% load i18n static humanize %}
{% load minecraft hawk_ui hawk_utils captureas %}

{% block main_title %}
    {% blocktrans with title=report.title|strip_minecraft %}
        {{ title }} - Match Report - Hawk
    {% endblocktrans %}
{% endblock %}

{% block javascripts %}
    <script src="{% static "js/report-navigation.js" %}"></script>
    <script src="{% static "js/accessibility.js" %}"></script>
    <script src="{% static "js/tooltips.js" %}"></script>
{% endblock %}

{% block body %}
    <header class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-7">
                        <h1 class="title">
                            {{ report.title | minecraft }}
                        </h1>
                        <h2 class="subtitle">
                            {% if report.settings.players_count %}
                                {% blocktrans count count=report.players|length with written_number=report.players|length|apnumber|title %}
                                    {{ written_number }} player
                                {% plural %}
                                    {{ written_number }} players
                                {% endblocktrans %}
                            {% endif %}

                            {% if report.settings.players_count and report.settings.date %} - {% endif %}

                            {% if report.settings.date %}
                                <time datetime="{{ report.settings.date }}" title="{{ report.date | iso_to_datetime | date }}">{{ report.date | iso_to_datetime | naturaltime }}</time>
                            {% endif %}
                        </h2>
                    </div>

                    <div class="column is-5 has-text-right uhc-winners">
                        {% if report.settings.winners and report.winners %}
                            <aside class="chest">
                                <h3 class="chest-title is-all-caps">
                                    {% blocktrans count count=report.winners|length %}
                                        Winner
                                    {% plural %}
                                        Winners
                                    {% endblocktrans %}
                                </h3>
                                <ul>
                                    {% for winner in report.winners|dictsort:"name" %}
                                        <li>
                                            <figure class="image minecraft-tooltip" data-tooltip="{{ winner.name }}">
                                                <img src="{{ winner | head:80 }}" alt="{{ winner.name }}" />
                                            </figure>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        {% if report.settings.summary.enabled %}
                            <li {% if default_tab == 'summary' %}class="is-active"{% endif %}>
                                <a class="js-tab-link" href="#summary" data-target="summary">{% trans "Game Summary" %}</a>
                            </li>
                        {% endif %}

                        {% if report.settings.damages.enabled %}
                            <li {% if default_tab == 'damages' %}class="is-active"{% endif %}>
                                <a class="js-tab-link" href="#damages" data-target="damages">{% trans "Damages and Regenerations" %}</a>
                            </li>
                        {% endif %}

                        {% if report.settings.players.enabled %}
                            <li {% if default_tab == 'players' %}class="is-active"{% endif %}>
                                <a class="js-tab-link" href="#players" data-target="players">{% trans "Players and Statistics" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% if report.settings.summary.enabled %}
    <section class="section js-tab-section {% if default_tab != 'summary' %}is-hidden{% endif %}" id="summary">
        <div class="container">
            <div class="columns">
                {% if report.settings.summary.history %}
                    <div class="column">
                    <article class="chest">
                        <h3 class="chest-title">{% trans "Game timeline" %}</h3>

                        <div class="chest-inner is-sandstone">
                            {% if report.events %}
                                <ul class="minecraft-timeline">
                                    {% for event in report.events %}
                                    <li class="timeline-item is-{{ event.type | slugify }}-event">
                                        <figure aria-hidden="true">
                                            {% if event.icon.uuid %}
                                                <img src="{{ event.icon.uuid | head:32 }}" alt="" class="is-head" />
                                            {% elif event.icon.icon_id %}
                                                <span class="i-{{ event.icon.icon_id }}"></span>
                                            {% elif event.icon.url %}
                                                {# TODO proxy external resources #}
                                                <img src="{{ event.icon.url }}" alt="" />
                                            {% endif %}
                                        </figure>
                                        <h4>
                                            {{ event.title }}
                                            <time datetime="{{ event.date }}" title="{{ event.date | iso_to_datetime | date:"H:i" }}">{{ event.since_beginning | duration }}</time>
                                        </h4>
                                        {% if event.description %}
                                            <div class="timeline-item-details">
                                                {{ event.description | strip_minecraft }}
                                            </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </article>
                </div>
                {% endif %}

                {% if report.settings.summary.players %}
                    <div class="column">
                        <article class="chest teams-list">
                            <h3 class="chest-title">
                                {% if not report.settings.summary.teams or not report.teams %}
                                    {% trans "Players" %}
                                {% else %}
                                    {% trans "Teams" %}
                                {% endif %}
                            </h3>

                            {% if not report.settings.summary.teams or not report.teams %}
                                <ul class="players-list">
                                    {% for player in report.players|dictsort:"name" %}
                                        <li>
                                            {% player player large=True %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {% for team in report.teams|dictsort:"name" %}
                                    <h4 class="team-{{ team.color | color_to_css }} has-text-colored has-outline">{{ team.name }}</h4>

                                    <ul class="players-list">
                                    {% for player in team.players %}
                                        <li>
                                            {% player player large=True %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}

                                {% if report.has_players_without_team %}
                                    <h4 class="team-dark-gray has-text-colored has-outline">{% trans "Teamless players" %}</h4>

                                    <ul class="players-list">
                                        {% for player in report.players %}
                                            {% if not player.team %}
                                                <li>
                                                    {% player player large=True %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </article>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

    {% if report.settings.damages.enabled %}
    <section class="section js-tab-section {% if default_tab != 'damages' %}is-hidden{% endif %}" id="damages">
        <div class="container">

            {% if report.settings.damages.damages_per_players %}
            <article class="chest">
                <aside class="is-hidden-tablet-only is-hidden-mobile">{% trans "Hover icons for details" %}</aside>
                <h3 class="chest-title">{% trans "Players" %}</h3>

                {% for player in report.players|dictsort:"name" %}
                    {% with aggreg=report.aggregates.players_damages|lookup_key:player.uuid %}
                        <div class="chest-inner damages-report">
                            <div class="columns">
                                <div class="column damages-report-player-parent">
                                    <div class="damages-report-player">
                                        <figure class="player-head{% if player.team and report.settings.summary.teams %} is-{{ player.color | color_to_css }}{% endif %}">
                                            <img src="{{ player | head:90 }}" alt="{{ player.name }}"{% if player.tag_line_details %} aria-describedby="hawk-tooltip-player-{{ player.uuid }}"{% endif %} />
                                            <figcaption>
                                                <span class="name"{% if player.tag_line_details %} aria-describedby="hawk-tooltip-player-{{ player.uuid }}"{% endif %}>{{ player.name }}</span>

                                                {% if player.tag_line %}
                                                    <span class="tag-line"{% if player.tag_line_details %} title="{{ player.tag_line_details }}" aria-describedby="hawk-tooltip-player-{{ player.uuid }}" data-replace-title{% endif %}>{{ player.tag_line }}</span>
                                                {% endif %}

                                                {% if player.tag_line_secondary %}
                                                    <span class="tag-line-secondary"{% if player.tag_line_details %} title="{{ player.tag_line_details }}" aria-describedby="hawk-tooltip-player-{{ player.uuid }}" data-replace-title{% endif %}>{{ player.tag_line_secondary }}</span>
                                                {% endif %}
                                            </figcaption>
                                        </figure>

                                        <div class="hawk-tooltip" id="hawk-tooltip-player-{{ player.uuid }}">
                                            {% player_tooltip player %}
                                        </div>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent">
                                    <div class="damages-report-alterations">
                                        <h4>
                                            {% blocktrans count damage=aggreg.damages_taken_total %}
                                                <strong>{{ damage }}</strong> damage taken
                                            {% plural %}
                                                <strong>{{ damage }}</strong> damages taken
                                            {% endblocktrans %}
                                        </h4>

                                        <ul>
                                            {% for damage in aggreg.damages_taken %}
                                                {% captureas damager_name %}
                                                    {% if damage.cause.type == 'player' %}{{ damage.cause.player.name }}{% elif damage.cause.type == 'entity' %}{{  damage.cause.entity | name }}{% else %}{{ damage.cause.type | name }}{% endif %}
                                                {% endcaptureas %}
                                                {% captureas damage_description %}
                                                    {% if damage.lethal %}
                                                        {% if damage.cause.weapon %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name weapon=damage.cause.weapon.id|name|lower %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life point (lethal)
                                                            {% plural %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life points (lethal)
                                                            {% endblocktrans %}
                                                        {% else %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name %}
                                                                {{ damager_name }}: -{{ damage }} life point (lethal)
                                                            {% plural %}
                                                                {{ damager_name }}: -{{ damage }} life points (lethal)
                                                            {% endblocktrans %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if damage.cause.weapon %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name weapon=damage.cause.weapon.id|name|lower %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life point
                                                            {% plural %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life points
                                                            {% endblocktrans %}
                                                        {% else %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name %}
                                                                {{ damager_name }}: -{{ damage }} life point
                                                            {% plural %}
                                                                {{ damager_name }}: -{{ damage }} life points
                                                            {% endblocktrans %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endcaptureas %}

                                                <li title="{{ damage_description }}" data-replace-title>
                                                    <span class="weapon {% if damage.cause.weapon %}i-{{ damage.cause.weapon.id | icon:"small" }}{% endif %}" aria-describedby="hawk-tooltip-weapon-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}"></span>

                                                    {% if damage.cause.type == 'player' and damage.cause.player %}
                                                        <span class="source" aria-describedby="hawk-tooltip-source-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                            <img src="{{ damage.cause.player | head:20 }}" alt="{{ damage.cause.player.name }}" />
                                                        </span>
                                                    {% elif damage.cause.type == 'entity' %}
                                                        <span class="source i-{{ damage.cause.entity | icon:"small" }}" aria-describedby="hawk-tooltip-source-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}"></span>
                                                    {% else %}
                                                        <span class="source i-{{ damage.cause.type | icon:"small" }}" aria-describedby="hawk-tooltip-source-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}"></span>
                                                    {% endif %}

                                                    {% hearts damage %}

                                                    {% if damage.cause.weapon %}
                                                        <div class="hawk-tooltip" id="hawk-tooltip-weapon-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                            {% item_tooltip damage.cause.weapon %}
                                                        </div>
                                                    {% endif %}

                                                    <div class="hawk-tooltip" id="hawk-tooltip-source-damages-received-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                        {% damage_tooltip damage %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent">
                                    <div class="damages-report-alterations">
                                        <h4>
                                            {% blocktrans count damage=aggreg.damages_caused_total %}
                                                <strong>{{ damage }}</strong> damage caused
                                            {% plural %}
                                                <strong>{{ damage }}</strong> damages caused
                                            {% endblocktrans %}
                                        </h4>

                                        <ul>
                                            {% for damage in aggreg.damages_caused %}
                                                {% captureas damager_name %}
                                                    {% if damage.cause.type == 'player' %}{{ damage.cause.player.name }}{% elif damage.cause.type == 'entity' %}{{  damage.cause.entity | name }}{% else %}{{ damage.cause.type | name }}{% endif %}
                                                {% endcaptureas %}
                                                {% captureas damage_description %}
                                                    {% if damage.lethal %}
                                                        {% if damage.cause.weapon %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name weapon=damage.cause.weapon.id|name|lower %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life point (lethal)
                                                            {% plural %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life points (lethal)
                                                            {% endblocktrans %}
                                                        {% else %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name %}
                                                                {{ damager_name }}: -{{ damage }} life point (lethal)
                                                            {% plural %}
                                                                {{ damager_name }}: -{{ damage }} life points (lethal)
                                                            {% endblocktrans %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if damage.cause.weapon %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name weapon=damage.cause.weapon.id|name|lower %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life point
                                                            {% plural %}
                                                                {{ damager_name }} with {{ weapon }}: -{{ damage }} life points
                                                            {% endblocktrans %}
                                                        {% else %}
                                                            {% blocktrans count damage=damage.damage with damager_name=damager_name %}
                                                                {{ damager_name }}: -{{ damage }} life point
                                                            {% plural %}
                                                                {{ damager_name }}: -{{ damage }} life points
                                                            {% endblocktrans %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endcaptureas %}

                                                <li title="{{ damage_description }}" data-replace-title>
                                                    <span class="weapon {% if damage.cause.weapon %}i-{{ damage.cause.weapon.id | icon:"small" }}{% endif %}" aria-describedby="hawk-tooltip-weapon-damages-caused-{{ player.uuid }}-{{ forloop.counter0 }}"></span>
                                                    <span class="source" aria-describedby="hawk-tooltip-source-damages-caused-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                        <img src="{{ damage.damagee | head:20 }}" alt="{{ damage.damagee.name }}" />
                                                    </span>

                                                    {% hearts damage %}
                                                </li>

                                                {% if damage.cause.weapon %}
                                                    <div class="hawk-tooltip" id="hawk-tooltip-weapon-damages-caused-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                        {% item_tooltip damage.cause.weapon %}
                                                    </div>
                                                {% endif %}

                                                <div class="hawk-tooltip" id="hawk-tooltip-source-damages-caused-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                    {% damage_tooltip damage %}
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-alterations-parent is-health">
                                    <div class="damages-report-alterations">
                                        <h4>
                                            {% blocktrans count damage=aggreg.heals_total %}
                                                <strong>{{ damage }}</strong> life regenerated
                                            {% plural %}
                                                <strong>{{ damage }}</strong> life regenerated
                                            {% endblocktrans %}
                                        </h4>

                                        <ul>
                                            {% for heal in aggreg.heals %}
                                                {% captureas heal_description %}
                                                    {% blocktrans count heal=heal.heal with healer_name=heal.cause|name %}
                                                        {{ healer_name }}: +{{ heal }} life point
                                                    {% plural %}
                                                        {{ healer_name }}: +{{ heal }} life points
                                                    {% endblocktrans %}
                                                {% endcaptureas %}
                                                <li title="{{ heal_description }}" data-replace-title>
                                                    <span class="source i-{{ heal.cause | icon:"small" }}" aria-describedby="hawk-tooltip-heal-{{ player.uuid }}-{{ forloop.counter0 }}"></span>

                                                    {% hearts heal %}

                                                    <div class="hawk-tooltip" id="hawk-tooltip-heal-{{ player.uuid }}-{{ forloop.counter0 }}">
                                                        {% heal_tooltip heal %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="column damages-report-kills-parent">
                                    <div class="damages-report-kills">
                                        {% if aggreg.kills %}
                                            <h4>
                                                {% blocktrans count kills=aggreg.kills|length %}
                                                    <strong>{{ kills }}</strong> player killed
                                                {% plural %}
                                                    <strong>{{ kills }}</strong> players killed
                                                {% endblocktrans %}
                                            </h4>

                                            <ul>
                                                {% for kill in aggreg.kills %}
                                                    <li>
                                                        {% player kill %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% if report.settings.damages.display_killer and aggreg.killed_by %}
                                            <h4 class="is-bold">{% trans "Killed by" %}</h4>

                                            <ul>
                                                <li>
                                                    {% if aggreg.killed_by.type == 'player' %}
                                                        {% player aggreg.killed_by.player %}
                                                    {% else %}
                                                        <a href="" class="player is-fake-player">
                                                            {% if aggreg.killed_by.type == "entity" %}
                                                                <figure aria-hidden="true">
                                                                    <span class="i-{{ aggreg.killed_by.entity | icon }} is-rounded"></span>
                                                                </figure>
                                                                <span>{{ aggreg.killed_by.entity | name }}</span>
                                                            {% else %}
                                                                <figure aria-hidden="true">
                                                                    <span class="i-{{ aggreg.killed_by.type | icon }} is-rounded"></span>
                                                                </figure>
                                                                <span>{{ aggreg.killed_by.type | name }}</span>
                                                            {% endif %}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endif %}

                                        <h4 class="is-bold">{% trans "Rank" %}</h4>

                                        <p class="player-rank{% if aggreg.rank == 1 %} is-winner{% endif %}">{{ aggreg.rank|ordinal }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </article>
            {% endif %}

            {% if report.settings.damages.damages_per_team %}
            <!-- TODO
            <article class="chest">
                <h3 class="chest-title">Équipes</h3>
            </article>
            -->
            {% endif %}

            {% if report.settings.damages.damages_from_environment %}
            <article class="chest">
                <h3 class="chest-title">{% trans "Environmental damages" %}</h3>

                <div class="columns">
                    <div class="column">
                        <div class="chest-inner natural-damages-report">
                            {% for cause, damage in report.aggregates.environmental_damages.entities.items|dictsort:0 %}
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-{{ cause | icon:"large" }} is-rounded"></span>
                                                <figcaption>{{ cause | name }}</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4>
                                                {% blocktrans count damage=damage %}
                                                    <strong>{{ damage }}</strong> damage caused
                                                {% plural %}
                                                    <strong>{{ damage }}</strong> damages caused
                                                {% endblocktrans %}
                                            </h4>

                                            {% hearts damage list=True %}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="chest-inner-empty">
                                    {% trans "Creatures caused no damage." %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="chest-inner natural-damages-report">
                            {% for cause, damage in report.aggregates.environmental_damages.environment.items|dictsort:0 %}
                                <div class="natural-damages-report-line">
                                    <div class="columns">
                                        <div class="column is-4 natural-damages-report-source">
                                            <figure>
                                                <span class="i-{{ cause | icon:"large" }} is-rounded"></span>
                                                <figcaption>{{ cause | name }}</figcaption>
                                            </figure>
                                        </div>
                                        <div class="column is-8 natural-damages-report-damages">
                                            <h4>
                                                {% blocktrans count damage=damage %}
                                                    <strong>{{ damage }}</strong> damage caused
                                                {% plural %}
                                                    <strong>{{ damage }}</strong> damages caused
                                                {% endblocktrans %}
                                            </h4>

                                            {% hearts damage list=True %}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="chest-inner-empty">
                                    {% trans "No damages were caused by the environment." %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
            {% endif %}
        </div>
    </section>
    {% endif %}

    {% if report.settings.players.enabled %}
        <section class="section js-tab-section {% if default_tab != 'players' %}is-hidden{% endif %}" id="players">
            <div class="container">
                {% include "sections/statistics.html" %}
            </div>
        </section>
    {% endif %}

    <footer>
        <div class="content has-text-centered">
            <p>
                {% captureas home_url %}{% endcaptureas %}{# TODO replace with homepage URL #}
                {% if report.settings.generator %}
                    {% if report.minecraft %}
                        {% blocktrans with link=report.settings.generator.link generator=report.settings.generator.name minecraft=report.minecraft %}
                            Generated by <a href="{{ link }}">{{ generator }}</a> on Minecraft {{ minecraft }} using <a href="{{ home_url }}">Hawk</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with link=report.settings.generator.link generator=report.settings.generator.name %}
                            Generated by <a href="{{ link }}">{{ generator }}</a> using <a href="{{ home_url }}">Hawk</a>.
                        {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% if report.minecraft %}
                        {% blocktrans with minecraft=report.minecraft %}
                            Generated on Minecraft {{ minecraft }} using <a href="{{ home_url }}">Hawk</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans %}
                            Generated using <a href="{{ home_url }}">Hawk</a>.
                        {% endblocktrans %}
                    {% endif %}
                {% endif %}

                <br />

                {% blocktrans with hawk_url="https://github.com/zDevelopers/Hawk-GUI" amaury_url="https://amaury.carrade.eu" florian_url="https://florian.cassayre.me" %}
                    Hawk is a project developed with <a href="{{ hawk_url }}">love, Rust and Python</a>
                    by <a href="{{ amaury_url }}">Amaury Carrade</a> and <a href="{{ florian_url }}">Florian Cassayre</a>.
                {% endblocktrans %}
            </p>

            {% include "partials/language_selector.html" %}

            <p>{% trans "We are not responsible of the reports content (in particular, pseudonyms and team names)." %}</p>

            <p>
                {# TODO url #}
                <a href="{% url "report-json" db_report.slug %}" title="{% trans "View this report in JSON format (machine readable)" %}">&lt;/&gt;</a>
            </p>
        </div>
    </footer>

    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function() {

            // Replaces marked titles with aria-label, because they interfere with tooltips
            document.querySelectorAll("[data-replace-title]").forEach(function(element) {
                element.setAttribute("aria-label", element.getAttribute("title"));
                element.setAttribute("title", "");
            });

            const real_tooltip = document.createElement("div");
            real_tooltip.classList.add("minecraft-rich-tooltip");

            document.body.appendChild(real_tooltip);

            document.querySelectorAll("[aria-describedby]").forEach(function(element) {
                const tooltip = document.getElementById(element.getAttribute("aria-describedby"));

                element.addEventListener('mouseover', function(e) {
                    tooltip.setAttribute("aria-hidden", "false");
                    show_tooltip(real_tooltip, tooltip);
                });

                element.addEventListener('mouseout', function(e) {
                    tooltip.setAttribute("aria-hidden", "true");
                    hide_tooltip(real_tooltip, tooltip);
                });

                element.addEventListener('mousemove', function(e) {
                    if (e.movementX && e.movementX > 20 || e.movementY && e.movementY > 20)
                        return;

                    let mouseX, mouseY;

                    if (e.offsetX) {
                        mouseX = e.offsetX;
                        mouseY = e.offsetY;
                    } else if (e.layerX) {
                        mouseX = e.layerX;
                        mouseY = e.layerY;
                    }

                    let body_bouncing_box    = document.body.getBoundingClientRect(),
                        element_bouncing_box = element.getBoundingClientRect(),
                        offset_top           = element_bouncing_box.top - body_bouncing_box.top,
                        offset_left          = element_bouncing_box.left - body_bouncing_box.left;

                    real_tooltip.style.top = (offset_top + mouseY - 4) + "px";
                    real_tooltip.style.left = (offset_left + mouseX + 8) + "px";

                });
            });

            document.querySelectorAll(".is-hidden-statistics").forEach(function(element) {
                element.classList.add("is-hidden");
            });

            document.querySelectorAll(".toggle-hidden-statistics").forEach(function(element) {
                element.addEventListener("click", function(e) {
                    e.preventDefault();

                    element.classList.toggle("is-toggled");
                    element.nextElementSibling.classList.toggle("is-hidden");

                    element.blur();
                });
            });
        });

        function show_tooltip(real_tooltip, element) {
            real_tooltip.innerHTML = element.innerHTML;
            real_tooltip.classList.add("is-active");
        }

        function hide_tooltip(real_tooltip) {
            real_tooltip.innerHTML = "";
            real_tooltip.classList.remove("is-active");
        }
    </script>
{% endblock %}
